body{
	font-family: "Lucida Console", monospace!important;
}
#dobitni_modovi{	
	font-size: 0.9em;
    line-height: 1;
    font-weight: 600;
    text-shadow: rebeccapurple 0.1px 0.1px 5px;	
}
#primarni_slot{
	background: url('../data/primarni_slot.png') no-repeat top center;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding-top:25px;
}
#primarni_slot img{
	height:65px!important;
}
#skala_dobitaka{
	display: flex;
    flex-direction: column;
}
#ulozi{
	position:relative;
	top:30px;
	font-size: 0.8em;
}

#game_over{
	position:absolute;
	top:40%;
	width:auto;
	display:none;
}
#slot0_dobitak,#slot1_dobitak,#slot2_dobitak{
	z-index:1;
}
#slot0,#slot1,#slot2{
	display:flex;
}
#slots_div{
	background: url('../data/slots_bg.png') no-repeat top center;
	background-size: 100% 100%;
}
#dobici{
	margin-bottom: -10px!important;
}
#vece_manje_slot{
	height:70%;	
	background:no-repeat top center;
	background-image: url('../data/manja.png');
}
#vece_manje_div{
	height: 100vh;
    width: 100vw;	
}

#skala_za_dobitke{
	padding: 23%;
    margin: 20% 10%;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    border: black solid thick;
    outline: orange solid thick;
}
#skala_brojeva{
	
	padding: 23%;
    margin: 20% 10%;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    border: black solid thick;
    outline: orange solid thick;

}
#dobitak_u_kreditima{
	
    font-size: 3em;
    margin: 30px;
    width: 50%;
    border: black medium solid;
    outline: orange thick solid;
	text-align:center;
}
#broj{
	font-size: 10em;
    margin: 0px 30px 10%;	
}

#dobici .badge{
	width:50px;
	height:20px;
	border:orange 3px solid;
	
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

tbody{
background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);	
text-align:center;
font-size: 0.85em;
}
td:nth-child(even){
	font-weight:bold;
	color: #ffc107!important
}
td:nth-child(odd){
	font-weight:bold;
	color: white;
}

tr:first-child{
	text-align:center;	
}

label{
	font-weight: bold;
    text-shadow: 1px 1px black!important;
}
input[name=kredit],input[name=ulog],input[name=dobitak]{
	border:none;
	box-shadow:2px 2px 5px  black !important;
	color: white;
	font-weight:700;
	text-align:center;	
}


.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}
#container:first-child{
	background-color:#9921e8;
	background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
}


/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.animacija{
    -moz-animation: blink normal 1s infinite ease-in-out!important; /* Firefox */
    -webkit-animation: blink normal 1s infinite ease-in-out!important; /* Webkit */
    -ms-animation: blink normal 1s infinite ease-in-out!important; /* IE */
    animation: blink normal 1s infinite ease-in-out!important; /* Opera and prob css3 final iteration */
}